@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Mukta&family=lato:wght@300&display=swap');
   
*  { 
    margin: 0;
    padding: 0;
    border: none;
}
    

p {
  font-size: 1.25em;
}


body {
    
    font-family: lato, sans-serif;
    font-weight: 300;
    color: #3d3736;
    background-color: #f2ede3;
}

h1,
h2,
h3 {
  font-family: mukta, sans-serif;

}


/*....................................navbar and logo */

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #727778;
    justify-content: space-between;
    overflow: auto;
    min-height: 100px;
    
    
  }
nav ul li {
    position: relative;
    margin: 0 30px;
    list-style: none;
    display: inline-block;
    padding: 25px;
    font-size: 16px;
    
  }
nav ul li a {
  font-family: lato, sans-serif;
  font-weight: 500;
  cursor: pointer;
  color:#0d1b1e;
  text-decoration: none;
  
  
}

.navbar-logo{
    height: 52px;
    border-radius: 50%;
    margin-top: -32px;
    padding-left: 40px
   
    
}

/*....................................active link and hover styling */

#menu a:hover {
  background-color: #d1cec9;
  border-radius: 50px;
  padding: 5px 5px 5px 5px;
  border: transparent;
}

/*....................................hero image and slogan */

#hero-image {
  background: url("../images/austin-ramsey-nmXi-HCD_F8-unsplash.jpg");
  width: 100%;
  height: 500px;
  opacity: 0.6;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#cover-text {
  position: relative;
  text-align: center;
  font-size: 250%;
  padding-top: 3.25em;
  letter-spacing: 4px;
  
}

#cover-text-about {
  position: relative;
  text-align: center;
  font-size: 250%;
  padding-top: 4.5em;
  letter-spacing: 4px;
  
}

#cover-text-services {
  position: relative;
  text-align: center;
  font-size: 250%;
  padding-top: 4.5em;
  letter-spacing: 4px; 
}

.bespoke {
  color: #451400f5 ;
}

.reliable {
  color:#f2ede3;
}
/*.................................... services section */
.services-text {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.services-button {
  font-family: mukta, sans-serif;
  position: relative;
  text-align: center;
  border: transparent none;
  font-size: 300%;
  font-weight: 600;
  letter-spacing: 2px;
  color: #451400f5;
  text-decoration: none;
}

.services-button:hover {
  background-color: #ffffff;
  border: 0px solid #ffffff;
  border-radius: 50px;
}



.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-height: 600px;
  min-width: 1200px;
  margin: 0 auto;
  column-gap: 40px;
  padding-top: 20px;
  }
  .grid h2 {
    font-family: mukto, sans-serif;
    padding-top: 10px;
    font-weight: 500;
    text-align: center;
    color: #451400f5;

  }
  

  .grid p {
    padding: 20px;
  }

  .stairs {
    border: 20px solid #fff;
  }

  .windows {
    border: 20px solid #fff;
  }
  .doors {
    border: 20px solid #fff;
  }
  

  /*.................................... testimonials section */

  #testimonials {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 300%;
    font-weight: bold;
    letter-spacing: 1px;
    color: #451400f5
  }

  .test-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      min-height: 450px;
      min-width: 100%;
      column-gap: 40px;
      padding-top: 20px;
      padding-bottom: 75px;
  }
  .test-grid h2 {
    font-family: mukto, sans-serif;
    padding-top: 75px;
    font-weight: 500;
    text-align: center;
    color: #451400f5;
  }

  .test-grid p {
    padding: 20px;
  }

  .test-grid h5 {
    text-align: center;
  }

  .test-1 {
    border: 20px solid #f2ede3;
    background-color: #fff;
  }
    
  .test-2 {
    border: 20px solid #f2ede3;
    background-color: #fff;
  }
    
  .test-3 {
    border: 20px solid #f2ede3;
    background-color: #fff;
  }
  
  .checked {
    text-align: center;
    padding-top: 10px;
    color: orange;
  }
/*.................................... about page and progress bar */

.grid-about{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 600px;
  min-width: 1200px;
  margin: 0 auto;
  column-gap: 3.25em;
  row-gap: 6.5em;
  padding: 4em;
  
}

.grid-about h2 {
  font-family: mukto, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  font-weight: 500;
  font-size: 200%;
  text-align: center;
  color: #451400f5;

}

.ex-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-about p {
  padding: 50px;
}

#progress-bar-section{
  display: flex;
  justify-content: space-around;
  padding: 150px;

}

.progress-bar1{
  width: 50rem;
  height: 2rem;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
}

/*.................................... footer content */
  
   .footer-grid {
    display: flex;
    background-color: #727778;
    height: 300px;
    width: auto;
    overflow: hidden;
}
  .footer-grid h3{
    text-align: center;
    color: #f2ede3;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .footer-grid ul li {
    margin: 0;
    list-style: none;
    display: inline-block;
    
  }

  .footer-left {
    flex-grow: 1;
    flex-basis: 100%;
  }

  .footer-middle {
    flex-grow: 1;
    flex-basis: 100%;
  }
  
  .footer-right {
    flex-grow: 1;
    flex-basis: 100%;
  }
 
  .footer-text li{
    margin: 0;
    padding: 0%;
    color: #0d1b1e;
    line-height: 1.5em;
    padding-left: 9.25em;  
  }

  .socials i {
    font-size: 300%;
    padding-left: 75px;
    padding-top: 75px;
    color: #0d1b1e;
  }

  .footer-grid h3 i{
    color: #0d1b1e;
    font-size: 150%;
    padding-left: 0.5em;
  }

  