@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Mukta&family=lato:wght@300&display=swap');
   
*  { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    
    font-family: lato, sans-serif;
    font-weight: 300;
    color: #3d3736;
    background-color: #f2ede3;
}



/*....................................navbar and logo */

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #727778;
    justify-content: space-between;
    overflow: auto;
    min-height: 100px;
    
    
  }
  ul li {
    position: relative;
    margin: 0 30px;
    list-style: none;
    display: inline-block;
    padding: 25px;
    font-size: 16px;
    
  }
ul li a {
  font-family: lato, sans-serif;
  font-weight: 500;
  cursor: pointer;
  color:#0d1b1e;
  text-decoration: none;
  
  
}

.navbar-logo{
    height: 52px;
    border-radius: 50%;
    margin-top: -32px;
    padding-left: 40px
   
    
}

/*....................................active link and hover styling */

#menu a:hover {
  background-color: #d1cec9;
  border-radius: 50px;
  padding: 5px 5px 5px 5px;
  border: transparent;
}

/*....................................hero image and slogan */

#hero-image {
  background: url("../images/austin-ramsey-nmXi-HCD_F8-unsplash.jpg");
  width: 100%;
  height: 500px;
  opacity: 0.6;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#cover-text {
  position: relative;
  text-align: center;
  font-size: 250%;
  padding-top: 180px;
  letter-spacing: 4px;
  
}

.bespoke {
  color: #451400f5 ;
}

.reliable {
  color:#f2ede3;
}
/*.................................... services section */
.services-text {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.services-button {
  font-family: mukta, sans-serif;
  position: relative;
  text-align: center;
  border: transparent none;
  font-size: 300%;
  font-weight: bold;
  letter-spacing: 2px;
  color: #451400f5;
  
}

.services-button {
  background-color: #d1cec9;
  border-radius: 50px;
  padding: 2px 5px;
  border: 1px solid black;
}



.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-height: 600px;
  min-width: 100%;
  column-gap: 40px;
  padding-top: 20px;

  }

  .grid h2 {
    font-family: mukto, sans-serif;
    padding-top: 10px;
    font-weight: 500;
    text-align: center;
    color: #451400f5;

  }

  .grid p {
    padding: 20px;
  }

  .stairs {
    border: 20px solid #fff;
  }

  .windows {
    border: 20px solid #fff;
  }
  .doors {
    border: 20px solid #fff;
  }
  

  /*.................................... testimonials section */

  #testimonials {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 300%;
    font-weight: bold;
    letter-spacing: 1px;
    color: #451400f5
  }

  .test-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      min-height: 400px;
      min-width: 100%;
      column-gap: 40px;
      padding-top: 20px;
  }
  .test-grid h2 {
    font-family: mukto, sans-serif;
    padding-top: 75px;
    font-weight: 500;
    text-align: center;
    color: #451400f5;
  }

  .test-grid p {
    padding: 20px;
  }

  .test-grid h5 {
    text-align: center;
  }

  .test-1 {
    border: 20px solid #f2ede3;
    background-color: #fff;
  }
    
  .test-2 {
    border: 20px solid #f2ede3;
    background-color: #fff;
  }
    
  .test-3 {
    border: 20px solid #f2ede3;
    background-color: #fff;
  }
  
  .checked {
    text-align: center;
    padding-top: 10px;
    color: orange;
  }



  


    
  

  